---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Seite nicht gefunden">
    <div class="container"
    style={{
        display: "grid",
        placeItems: "center",
        textAlign: "center",
        gap: "var(--small-sm)",
    }}>
        <div>
            <h1 class="h1">Seite konnte nicht gefunden werden</h1>
            <p>Es scheint, dass die angeforderte Seite nicht mehr existiert oder verschoben wurde. Versuche zur Startseite zurückzukehren.</p>
       </div>
    </div>
</MainLayout>
