---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Seite nicht gefunden">
    <div class="container"
    style={{
        display: "grid",
        placeItems: "center"
    }}>

    </div>
</MainLayout>
