---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Über mich" description="Meine über mich Seite">
	<section class="container about" aria-label="Ueber mich">
		<img 
		src="/images/mein-bild.png" 
		alt="Mein Bild"
		width="200"
		height="300"
		>
		<div class="content">
			<h1 class="h1">Mein Blog</h1>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel tempora soluta libero impedit alias deleniti enim molestiae voluptatem et voluptas ratione accusamus, nesciunt error accusantium. Illo beatae recusandae nulla incidunt suscipit est, soluta aperiam obcaecati dolores quam repellat consequatur minus!
			</p>
			<Link 
			href="mailto:resul_elezi@protonmail.com"
			style="primary"
			text="Kontakt"/>
		</div>
	</section>
	
</MainLayout>
