---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Über mich" description="Meine über mich Seite">
	<section class="container about" aria-label="Ueber mich">
		<img src="/images/mein-bild.png" alt="Mein Bild">
	</section>
	<h1>Hallo, ich bin Resul</h1>
</MainLayout>
