---

---

<footer>
    <small>
        Copyright &copy; <span id="copyright">
        | All rights reserved
        </span>
    </small>
</footer>

<script>
    document.getElementById("copyright").textContent = new Date().getFullYear().toString();
</script>