---
import { Icon } from "astro-icon/components";
---
<nav aria-label="Primary">
    <div class="navbar">
        <a href="/" class="logo" aria-label="Go home">
            <Icon name="logo" />
        </a>
        <ul>

        </ul>
    </div>
</nav>