---
// component import
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
	<header>
        <div class="container">

        </div>
        <img src="" alt="">
    </header>
    <div class="post-content">
        <div class="content">
            <slot />
        </div>
        <div class="sidebar">

        </div>
    </div>
</MainLayout>
