---
// component import
import MainLayout from "./MainLayout.astro"
---

<MainLayout title="Mein Blog">
	<header>
        <div class="container">
            
        </div>
    </header>
</MainLayout>
