---
// component import
import MainLayout from "./MainLayout.astro";

const {frontmatter} = Astro.props;
---

<MainLayout title="Mein Blog">
	<header>
        <div class="container">

        </div>
        <img src="" alt="">
    </header>
    <div class="post-content">
        <div class="content">
            <slot />
        </div>
        <div class="sidebar">

        </div>
    </div>
</MainLayout>
