---
// component import
import MainHead from "./MainHead.astro";

// style import

import "../styles/global.css"

const {
    title = "My Astro Blog",
    description = "My musings about the Astro framework",
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot>Default Text</slot>
	</body>
</html>
