---
import MainHead from './MainHead.astro';

interface Props {
    title?: string;
    description?: string;
}
const { title = "Default Title", description = "Default Description"} = Astro.props as Props;
---

<html lang="en">
	<MainHead {title} {description} />
	<body>
		<slot>
            Default Text
        </slot>
	</body>
</html>