---
// component import
import MainHead from "./MainHead.astro";

const {
    title = "Mein Astro Blog",
    description = "Meine Gedanken über das Astro-Framework",
} = Astro.props;
---

<html lang="de">
    <MainHead {title} {description} />
    <body>
        <slot><p>Default Text</p></slot>
    </body>
</html>
